body {
  background-image: url("../images/bkgrd.jpg");
  background-size: 100%;
  margin: 75px;
}

main {
  background: rgba(202, 202, 202, 0.623);
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.question-display {
  text-align: center;
}

.option {
  border-radius: 5px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.option:hover {
  background: rgba(95, 177, 253, 0.637);
}

.option:active {
  background: rgba(95, 182, 253, 0.705);
  color: whitesmoke;
}

.category {
  float: none;
}

.answer {
  float: none;
}

.ranking {
  font-size: 30px;
  color: rgb(255, 136, 40);
}

.reset {
  margin-top: 20px;
  width: 30%;
  animation-name: box-flash;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.fadeout {
  animation: fadeout 1s;
  opacity: 0;
}

.fadein {
  animation: fadein 1s;
  opacity: 1;
}

.no-display {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes box-flash {
  from {
    background: whitesmoke;
  }

  to {
    background: rgb(117, 181, 255);
  }
}